<div class="container py-4">
    <div class="row justify-content-center">
    <div class="col-md-4 text-center">
        <div class="pb-2">
        </div>
        As an Indigenous person myself, from the <a href="https://kitsumkalum.com/" target="_blank">Kitsumkalum</a> band of the Tsimshian Nation, I am proud to operate in Nakusp BC, on the unceded traditional territories of the <a href="https://www.ktunaxa.org/" target="_blank">Ktunaxa</a>, <a href="https://tkemlups.ca/" target="_blank">Secwépemc</a>, <a href="https://sinixt.com/" target="_blank">Sinixt</a> and <a href="https://syilx.org" target="_blank">Syilx</a> Nations.
        </div>
        </div>
    </div>
</div>